body{
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.bold {
  font-weight: bold;
}

.header{
  font-size: 2em;
  text-align: center;
  background-color: red;
  color: white;
  padding: 1em;
}