body{
  margin: 0;
  padding: 0;
  color: white;
  background-color: black;
  justify-content: space-between;
  gap: 2em;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.bold {
  font-weight: bold;
}

.header{
  font-size: 2em;
  text-align: center;
  background-color: red;
  padding: .5em;
}

.info {
  text-align: center;
  font-size: 2em;
}

.game {
  padding: 1em;
  background-color: lightgreen;
  color: black;
  font-size: 2em;
  width: 80%;
  margin: auto;
  justify-content: center;
  gap: 2em;
}

.winner {
  background-color: lightblue;
  color: black;
  align-self: center;
  font-size: 2em;
}